<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MachaineTest" value="Data Source=LAPTOP-RU3NT9D5;Initial Catalog=MachineTest;Integrated Security=True;"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
</configuration>